<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/get-form-data"> 
        <input type="text" name="enter username" placeholder="Enter username">
        <input type="text" name="enter email" placeholder="Enter email">
        <input type="password" name="enter 
        password" placeholder="Enter password">
        <button type="submit" name="submit">Submit</button>     

    </form>
</body>
</html>

